.btn {
  width: 100%;
  /* background-color: lightblue; */
  border: 3px solid black;
  background-color: none;
  aspect-ratio: 1 / 1;
  font-size: 2.5em;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}
.btn.inactive {
  /* just minimize the opacity */
  opacity: 0.3;
}
/* let the hover,focus happens only if not disabled as well */
.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
